<a class="person"
  data-type="{{ person.terms('team_type')
    |join(', ')
    |lower
    |replace({
      ' ': '-'
    }) }}"
  href="{{ person.link }}">
  <picture>
    <source srcset="{{ Image(person.person__photo_sm).src()
        |resize(800, 800)
        |towebp }}"
      type="image/webp" />
    <source srcset="{{ Image(person.person__photo_sm).src()
        |tojpg
        |resize(800, 800) }}"
      type="image/jpeg" />
    <img src="{{ Image(person.person__photo_sm).src()|resize(800, 800)|tojpg }}"
      alt="{{ Image(person.person__photo_sm).alt }}" />
  </picture>
  <div class="person__info">
    <h3>
      {{ person.title }}
    </h3>
    <p>
      {{ person.person__title }}
    </p>
  </div>
</a>
