<div class="project"
  data-project="{{ project.terms('project_type')
    |join(', ')
    |lower
    |replace({
      ' ': '-'
    })
    |replace({
      '&amp;-': ''
    }) }}">
  <div class="screen">
    <a href="{{ project.project__url }}" target="_blank">
      <picture>
        <source srcset="{{ Image(project.project__image).src
            |resize(430)
            |towebp }}"
          type="image/webp" />
        <source srcset="{{ Image(project.project__image).src
            |tojpg
            |resize(430) }}"
          type="image/jpg" />
        <img src="{{ Image(project.project__image).src|resize(430) }}"
          alt="{{ Image(project.project__image).alt }}" />
      </picture>
    </a>
  </div>
  <div class="text">
    <h4>
      {{ project.title }}
    </h4>
    <a class="url" href="{{ project.project__url }}" target="_blank">
      {{ project.project__url_nice }}
    </a>
    <p>
      {{ project.project__summary }}
    </p>
  </div>
</div>
