<div class="block block-3-boxes">
  <div class="container">
    <h2 class="headline-h2">
      {{ block.block_3_boxes__headline }}
    </h2>
    <div class="row block-3-boxes__inner">
      {% for box in block.block_3_boxes__data %}
        <div class="col-md-4">
          <div class="block-3-boxes__item">
            <img src="{{ Image(box.box_image).src|resize(720, 520) }}"
              alt="{{ Image(box.box_image).alt }}" />
            <h3 class="headline-h2">
              {{ box.box_headline }}
            </h3>
            {{ box.box_text }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
