<div class="block block-retainers">
  <div class="container">
    <div class="plans">
      <div class="plan">
        <h2>
          {{ retainer_a_title }}
        </h2>
        <h3>
          {{ retainer_a_price }}
          {% if retainer_a_notes %}
            <span class="notes">{{ retainer_a_notes }}</span>
          {% endif %}
        </h3>
        <ul>
          {% for feature in retainer_a_features %}
            <li>
              <strong>{{ feature.list_feature }}</strong><p>
                {{ feature.list_description }}
              </p>
            </li>
          {% endfor %}
        </ul>
        {# <a href="{{ retainer_a_link.url }}" class="button">Start plan</a> #}
      </div>
      <div class="plan">
        <h2>
          {{ retainer_b_title }}
        </h2>
        <h3>
          {{ retainer_b_price }}
          {% if retainer_b_notes %}
            <span class="notes">{{ retainer_b_notes }}</span>
          {% endif %}
        </h3>
        <ul>
          {% for feature in retainer_b_features %}
            <li>
              <strong>{{ feature.list_feature }}</strong><p>
                {{ feature.list_description }}
              </p>
            </li>
          {% endfor %}
        </ul>
        {# <a href="{{ retainer_b_link.url }}" class="button">Start plan</a> #}
      </div>
      <div class="plan">
        <h2>
          {{ retainer_c_title }}
        </h2>
        <h3>
          {{ retainer_c_price }}
          {% if retainer_c_notes %}
            <span class="notes">{{ retainer_c_notes }}</span>
          {% endif %}
        </h3>
        <ul>
          {% for feature in retainer_c_features %}
            <li>
              <strong>{{ feature.list_feature }}</strong><p>
                {{ feature.list_description }}
              </p>
            </li>
          {% endfor %}
        </ul>
        {# <a href="{{ retainer_c_link.url }}" class="button">Start plan</a> #}
      </div>
    </div>
  </div>
</div>
