<div class="block block-wysiwyg {{ block.block_wysiwyg__has_photo ? 'two' }}">
  <div class="container">
    {% if block.block_wysiwyg__has_photo %}
      <div class="block-wysiwyg__inner">
        <div class="wysiwyg">
          {{ block.block_wysiwyg__text }}
        </div>
        <div class="photo">
          <picture>
            <source srcset="{{ Image(block.block_wysiwyg__photo).src
                |resize(430, 400)
                |towebp }}"
              type="image/webp" />
            <source srcset="{{ Image(block.block_wysiwyg__photo).src
                |tojpg
                |resize(430, 400) }}"
              type="image/jpg" />
            <img src="{{ Image(block.block_wysiwyg__photo).src|resize(
                430,
                400
              ) }}"
              alt="{{ Image(block.block_wysiwyg__photo).alt }}" />
          </picture>
          <p class="wp-caption-text">
            {{ Image(block.block_wysiwyg__photo).caption }}
          </p>
        </div>
      </div>
    {% else %}
      <div class="wysiwyg">
        {{ block.block_wysiwyg__text }}
      </div>
    {% endif %}
  </div>
</div>
