<div class="block block-portfolio">
  {% if block.block_portfolio__anchor %}
    <div id="{{ block.block_portfolio__anchor }}" class="block--anchor"></div>
  {% endif %}
  <div class="block-portfolio__hero">
    {% if block.block_portfolio__bg_type == 'photo' %}
      <img class="bg bg--{{ block.block_portfolio__bg_pos }}"
        src="{{ Image(block.block_portfolio__bg).src }}"
        alt="" />
    {% else %}
      <video playsinline autoplay muted loop>
        <source src="{{ block.block_portfolio__video.url }}"
          type="video/mp4" />Sorry, your browser doesn't support embedded
        videos.
      </video>
    {% endif %}

    <div class="container">
      <div class="row">
        {% if block.block_portfolio__stats %}
          <div class="col-md-6 portfolio-headline">
            <h2 class="headline-h2">
              {{ block.block_portfolio__headline }}
            </h2>
          </div>
          <div class="col-md-6">
            <div class="stats">
              {% for stat in block.block_portfolio__stats %}
                <div class="stats__item">
                  <p>
                    <strong>{{ stat.stat_number }}</strong>
                  </p>
                  <p>
                    {{ stat.stat_text }}
                  </p>
                </div>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <div class="col">
            <h1 class="headline-h1">
              Direct investment overview:<br />
              {{ block.block_portfolio__headline }}
            </h1>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="container block-portfolio__investments">
    {% if block.block_portfolio__investments %}
      <h2 class="headline-h3">
        SELECT DIRECT INVESTMENTS
      </h2>
      <div class="row">
        {% for investment in investments %}
          <div class="col-md-6 block-portfolio__investment">
            <a href="{{ investment.link }}">
              <picture>
                <source srcset="{{ Image(investment.investment__logo).src
                    |towebp
                    |letterbox(246, 141, '#ffffff') }}"
                  type="image/webp" />
                <source srcset="{{ Image(
                    investment.investment__logo
                  ).src|letterbox(246, 141, '#ffffff') }}"
                  type="image/png" />
                <img src="{{ Image(investment.investment__logo).src|letterbox(
                    246,
                    141,
                    '#ffffff'
                  ) }}"
                  alt="{{ Image(investment.investment__logo).alt }}" />
              </picture>
            </a>
            <p>
              {{ investment.investment__summary }}
            </p>
            <a class="more-link" href="{{ investment.link }}">Read more</a>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if block.block_portfolio__wysiwyg1 %}
      <div class="row block-portfolio__wysiwyg">
        <div class="col-md-6">
          <div class="wysiwyg">
            {{ block.block_portfolio__wysiwyg1 }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="wysiwyg">
            {{ block.block_portfolio__wysiwyg2 }}
          </div>
        </div>
      </div>
    {% endif %}

    {% if block.block_portfolio__test_quote %}
      <div class="row block-portfolio__quote">
        {% if block.block_portfolio__test_photo %}
          <div class="col-md-3">
            <picture>
              <source srcset="{{ Image(block.block_portfolio__test_photo).src
                  |resize(440, 440)
                  |towebp }}"
                type="image/webp" />
              <source srcset="{{ Image(block.block_portfolio__test_photo).src
                  |resize(440, 440)
                  |tojpg }}"
                type="image/jpeg" />
              <img src="{{ Image(block.block_portfolio__test_photo)
                  |resize(440, 440)
                  |tojpg }}"
                alt="{{ Image(block.block_portfolio__test_photo).alt }}" />
            </picture>
          </div>
        {% endif %}
        <div class="{{
          block.block_portfolio__test_photo
            ? 'col-md-9'
            : 'col-12'
          }} quote-text">
          <blockquote>
            <p>
              <span class="quote-mark">&#8220;</span>
              {{ block.block_portfolio__test_quote }}
              <span class="quote-mark">&#8221;</span>
            </p>
            <footer>
              - {{ block.block_portfolio__test_attr }}
            </footer>
          </blockquote>
        </div>
      </div>
    {% endif %}
  </div>
</div>
