<article class="block block-post">
  <div class="block-post__title">
    <picture>
      <source srcset="{{ Image(blog_header__bg).src('large')|towebp }}"
        type="image/webp" />
      <source srcset="{{ Image(blog_header__bg).src('large') }}"
        type="image/jpeg" />
      <img src="{{ Image(blog_header__bg).src('large') }}"
        alt="{{ Image(blog_header__bg).alt }}" />
    </picture>
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="headline-h2">
            {{ blog_header__text }}
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 block-post__text">
        <h1 class="headline-h2">
          {{ post.title }}
        </h1>
      </div>
    </div>
  </div>
</article>
