<div class="block block-word-image">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="headline-h2">
          {{ block.block_word_image__text }}
        </h2>
        <picture>
          <source srcset="{{ Image(block.block_word_image__image_lg).src
              |towebp
              |resize(900) }}"
            type="image/webp" />
          <source srcset="{{ Image(block.block_word_image__image_lg).src|resize(
              900
            ) }}"
            type="image/png" />
          <img class="diagram-lg"
            src="{{ Image(block.block_word_image__image_lg).src|resize(900) }}"
            alt="{{ Image(block.block_word_image__image_lg).alt }}" />
        </picture>
        {% if block.block_word_image__list %}
          <ul>
            {% for word in block.block_word_image__list %}
              <li>{{ word.list_word }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
</div>
