<!DOCTYPE html>
<html {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}" />
    <meta name="description" content="{{ site.description }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://use.typekit.net/qtq7hgk.css" />
    {{ function('wp_head') }}
    <script async
      src="https://www.googletagmanager.com/gtag/js?id=UA-973375-1"></script>
    <script>
      window.dataLayer = window.dataLayer || []; function
      gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config',
      'UA-973375-1');
    </script>
  </head>
  <body class="{{ body_class }}" data-template="base.twig">
    <a class="skip-link screen-reader-text" href="#content">
      {{ _e('Skip to content') }}
    </a>

    <div class="wrap">
      {% block header %}
        {% include 'partials/header.twig' %}
      {% endblock %}

      <main role="main" class="main" id="content">
        {% block content %}
          Sorry, no content
        {% endblock %}
      </main>

      {% block footer %}
        {% include 'partials/footer.twig' %}
        {{ function('wp_footer') }}
      {% endblock %}
    </div>
  </body>
</html>
